body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.header{
    height: 70px;
    background-color: #1F2937 ;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header text {
    font-size: 24px;
}

.hero{ 
    background-color: #1F2937 ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-right: 100px;
    padding-left: 100px;
}

.left-hero{
    height: 200px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9F1F8;
}

.hero-paragraphe{
    font-size: 18px;
    color: #E5E7EB;
}

.left-hero button {
    height: 40px;
    width: 85px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 16px;
    border-radius: 8px; 
}

.hero img {
    height: 200px;
    width: 400px;
}



.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.info .title{
    font-size: 33px;
    font-weight: bold;
}

.cubes{
    width: 800px;
    display: flex;
    padding: 30px;
    gap: 40px;
}

.cube-1,.cube-2,.cube-3,.cube-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex: 0 1 180px;
}

.cubes .text{
    text-align: center;
}

.rounded-cube{
    margin: 0;
    padding: 0;
    height: 160px;
    width: 160px;
    background-color: white;
    border: 3px solid rgb(43, 142, 255);
    border-radius: 7px;
}


.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
} 

.quote .inspiring{
    font-weight: lighter;
    font-style: italic;
    font-size: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.quote .signature {
    align-self: end;
    font-weight: bold;
}


.action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 70px 180px 70px 180px;
}

.action .container{
    background-color: #3883F6;
    border-radius: 5px;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 30px 30px;
    flex: 0 1 auto;
}

.action .container .text {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 6px;
}

.action button {
    height: 40px;
    width: 110px;
    background-color: #3883F6;
    border: 1px solid white;
    color: white;
    padding: 8px 16px;
    border-radius: 8px; 
}

.action .title{
    font-weight: 700;
}

.footer {
    background-color: #1F2937 ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ;
}